[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# ZYV - turn off mySQL unneeded storage engines
skip-innodb=true

character-set-server=utf8
collation-server=utf8_general_ci
init-connect="SET NAMES utf8"
skip-character-set-client-handshake

bind-address=localhost

# Extended settings (based upon Dathorn)

connect_timeout=30

join_buffer_size=12M
key_buffer_size=64M

max_allowed_packet=32M
max_connections=150
max_heap_table_size=128M
max_user_connections=100

myisam_sort_buffer_size=64M

open-files-limit=5000

query_cache_limit=1M
query_cache_size=256M
query_cache_type=1

read_buffer_size=1M
read_rnd_buffer_size=2M

sort_buffer_size=16M

table_cache=2048

thread_cache_size=32
thread_concurrency=2

tmp_table_size=128M

[mysqldump]
default-character-set=utf8

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
